<script>
    // Size and margins
    const width = 500/50;
    const height = 700;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
</script>


<svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      <!-- Stem of Leaves -->
      <line x1 = {innerWidth/2}
            y1 = 0
            x2 = {innerWidth/2}
            y2 = {innerHeight}
            stroke = 'green' 
            stroke-width="5"/>
    </g>
  </svg>