<script>
    // Size and margins
    const width = 300;
    const height = 250;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;

    // Get radial coordinates data
    export let max_value = [];
    let angle = [];

    let months = ['Dec', 'Nov', 'Oct', 'Sep', 'Aug', 'Jul', 'Jun', 'May', 'Apr', 'Mar', 'Feb', 'Jan'];
    
    import { scaleLinear } from 'd3-scale';
    const radialScale = scaleLinear().domain([0, max_value]).range([0, innerHeight-40]);

    function angleToCoordinate(angle, value){
        let x = Math.cos(angle) * radialScale(value);
        let y = Math.sin(angle) * radialScale(value);
        return {"x": innerWidth/2 + x, "y": innerHeight/2 - y};
    }


</script>


<svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
     
        <!-- Create the line axes for each month -->
        {#each months as m, i}
        {angle = (Math.PI / 2) + (2 * Math.PI * (i+1) / months.length)}
        <line x1 = {innerWidth/2}
              y1 = {innerHeight/2}
              x2 = {angleToCoordinate(angle, max_value/2).x}
              y2 = {angleToCoordinate(angle, max_value/2).y}
              stroke = 'black' />
        <text x = {angleToCoordinate(angle, max_value/2).x} y = {angleToCoordinate(angle, max_value/2).y}> {m} </text>
        {/each}
        
    </g>
</svg>