<script>

    // Size and margins
    const width = 745;
    const height = 800;
    const margin = { top: 10, right: 30, bottom: 50, left: 120 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;

    export let data = [];
    export let max_val = [];
    export let transf = null;

    import { scaleLinear } from 'd3-scale';

    let categories = ['FullServiceRestaurant',  'Hospital',              
                      'LargeHotel',             'LargeOffice',           
                      'MediumOffice',           'MidriseApartment',      
                      'OutPatient',             'PrimarySchool',         
                      'QuickServiceRestaurant', 'SecondarySchool',       
                      'SmallHotel',             'SmallOffice',           
                      'Stand-aloneRetail',      'StripMall',             
                      'SuperMarket',            'Warehouse'];

    const scaleX = scaleLinear().domain([0, 743]).range([0, innerWidth]);
    const scaleY = scaleLinear().domain([0, max_val]).range([innerHeight/categories.length, 0]);

</script>


<!-- PLOTS -->
<svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
        {#each data as d}
            
            <!-- Plots  -->
            <rect x = {scaleX(+d.building_index)} 
                  y = {scaleY(+d.total_heating_energy)}
                  transform = {transf}
                  color = 'steelblue'
                  stroke = 'steelblue' 
                  height = {innerHeight/categories.length - scaleY(+d.total_heating_energy)}
                  width=0.1 />
        {/each}
    
      </g>
</svg>