<script>
    // Size and margins
    const width = 400;
    const height = 150;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;

    // Import dataset
    export let datapoints = []; 
    import { scaleLinear } from 'd3-scale';
    import { _ } from "lodash";

    let minE = _.minBy(datapoints, 'total_electrity').total_electrity;
    let maxE = _.maxBy(datapoints, 'total_electrity').total_electrity;
  
    let minG = _.minBy(datapoints, 'total_gas').total_gas;
    let maxG = _.maxBy(datapoints, 'total_gas').total_gas;
  
    let minY = _.min([minE, minG]);
    let maxY = _.max([maxE, maxG]);

    const scaleX = scaleLinear().domain([0, 168]).range([0, innerWidth]);
    const scaleY = scaleLinear().domain([minY, maxY]).range([innerHeight/2, 0]);

</script>




<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">

        <!-- Create bar plot for electricity -->
	    {#each datapoints as d, index}
        <rect x = {scaleX(index)} 
              y = {scaleY(d.total_electrity)} 
              color = 'steelblue'
              stroke = 'steelblue' 
              height = {innerHeight/2 - scaleY(d.total_electrity)}
              width=1 />
        {/each}
    </g>
    <g class="Mirror" transform-origin="center" transform="translate({margin.left}, {-margin.top}) scale({1}, {-1})">  <!-- id="mirror"
    -->
        <!-- Create bar plot for gay -->
	    {#each datapoints as d, index}
        <rect x = {scaleX(index)} 
              y = {scaleY(d.total_gas)} 
              color = 'orange'
              stroke = 'orange'
              height = {innerHeight/2-scaleY(d.total_gas)} 
              width=1  />
        {/each}
  
	</g>
</svg>



<style>
    svg {
    transform-box: fill-box;
    transform-origin: center;
    transform: rotate(30deg) translate(-5%, -50%);
    }
</style>