<script>
    // Size and margins
    const width = 300;
    const height = 250;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;

    import SpiderPath from './_design_2_SpiderPath.svelte';
    import Axes from './_design_2_Axes.svelte';
  
    // Import dataset
    export let data = []; 
    export let max_val = []; 
    export let graph_name = [];

  </script>



<svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      <text font-weight="bold" x = {innerWidth/2-35} y = {5}> {graph_name} </text>

        <SpiderPath datapoints = {data} max_value = {max_val}/>
        <Axes max_value = {max_val}/>
                
    </g>
  </svg>
  
  
  
  
  <style>
    svg {
      border: 1px solid black;
      border-radius: 5px;
    }
  </style>