<script>
    // Size and margins
    const width = 300;
    const height = 250;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;

    // Get radial coordinates data
    export let datapoints = [];
    export let max_value = [];

    let months = ['Jan', 'Dec', 'Nov', 'Oct', 'Sep', 'Aug', 'Jul', 'Jun', 'May', 'Apr', 'Mar', 'Feb'];
    
    import { scaleLinear } from 'd3-scale';
    const radialScale = scaleLinear().domain([0, max_value]).range([0, innerHeight-40]);

    function angleToCoordinate(angle, value){
        let x = Math.cos(angle) * radialScale(value);
        let y = Math.sin(angle) * radialScale(value);
        return {"x": innerWidth/2 + x, "y": innerHeight/2 - y};
    }


    function getPathCoordinates(data_point){
        let coordinates = [];
        for (var i = 0; i < months.length; i++){
            let ft_name = months[i];
            let angle =  (Math.PI/2) + (2*Math.PI*i / months.length);
            coordinates.push(angleToCoordinate(angle, data_point[ft_name]));
        }
        return coordinates;
    }

    // Create path line
    import { line } from 'd3-shape';
    const lines = line().x(d => d.x).y(d => d.y);

    // Plotting colors heat = crimson, cooling = steelblue
    let colors = ["crimson", "steelblue"];

    // Tooltip
    let mouse_x, mouse_y;                            
    const setMousePosition = function(event) {       
        mouse_x = event.clientX;
        mouse_y = event.clientY;
    }

</script>

<svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
     
        <path d = {lines(getPathCoordinates(datapoints[0]))}
                  stroke-width = 3
                  stroke = "crimson"
                  fill = "crimson"
                  opacity = 0.5
                  on:mouseover={function(event) {selected_datapoint = datapoints[0]; setMousePosition(event)}}
                  on:mouseout={function() {selected_datapoint = undefined}} />
        <path d = {lines(getPathCoordinates(datapoints[1]))}
                  stroke-width = 3
                  stroke = "steelblue"
                  fill = "steelblue"
                  opacity = 0.5
                  on:mouseover={function(event) {selected_datapoint = datapoints[1]; setMousePosition(event)}} 
                  on:mouseout={function() {selected_datapoint = undefined}}/>
        
    </g>
</svg>


<style>
    #tooltip {                                       
      position: fixed;
      background-color: white;
      padding: 3px;
      border: solid 1px;
    }
    svg.tooltip {                                   
      margin: 0px;
      padding: 0px;
    }
  </style>