<!-- Visualization based on: https://yangdanny97.github.io/blog/2019/03/01/D3-Spider-Chart -->

<script>
  // Size and margins
  const width = 600;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import CircularPlot from './_design_2_CircularPlot.svelte';
  import { _ } from "lodash";

  // Load the data
  let data = null;
  let months_letter = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
  let city_options = ['Baltimore',	'Chicago', 'Los Angeles']

  let max_heating = null;
  let max_cooling = null;
  let max_value = null;

  let Balitmore_data = null;
  let Chicago_data = null;
  let LA_data = null;

  let Balitmore_monthly_heating = null;
  let Chicago_monthly_heating = null;
  let LA_monthly_heating = null;

  let Balitmore_monthly_cooling= null;
  let Chicago_monthly_cooling = null;
  let LA_monthly_cooling = null;

  let Balitmore_monthly_data = null;
  let Chicago_monthly_data = null;
  let LA_monthly_data = null;

  onMount(async () => {
    data = await json("/data/daily_heating_cooling.json");

      // Maximum heating & cooling energy yse
      max_heating = _.maxBy(data, 'heating').heating;
      max_cooling = _.maxBy(data, 'cooling').cooling;
      max_value = _.max([max_heating, max_cooling]);

      // Divide full datset by city
      Balitmore_data = data.filter(d => d.city === city_options[0]);
      Chicago_data = data.filter(d => d.city === city_options[1]);
      LA_data = data.filter(d => d.city === city_options[2]);

      // Return arrays for the daily energy use by city and building
      Balitmore_monthly_heating = _.chain(Balitmore_data).groupBy(groupingKey).map(groupsToResult_heating).value();
      Chicago_monthly_heating = _.chain(Chicago_data).groupBy(groupingKey).map(groupsToResult_heating).value();
      LA_monthly_heating = _.chain(LA_data).groupBy(groupingKey).map(groupsToResult_heating).value();

      Balitmore_monthly_cooling = _.chain(Balitmore_data).groupBy(groupingKey).map(groupsToResult_cooling).value();
      Chicago_monthly_cooling = _.chain(Chicago_data).groupBy(groupingKey).map(groupsToResult_cooling).value();
      LA_monthly_cooling = _.chain(LA_data).groupBy(groupingKey).map(groupsToResult_cooling).value();
      
      // Calculate the daily energy use by building and per day
      function groupingKey(item){           
        return item.month
      }
      // average for heating variable
      function sum_heating(total, item){
        return total + item.heating;
      }
      function average_heating(items){
        return _.reduce(items, sum_heating, 0) / items.length;
      }
      function groupsToResult_heating(groups){
        return {month: groups[0].month,
                heating: average_heating(groups)
                }
      }
      // average for cooling variable
      function sum_cooling(total, item){
        return total + item.cooling;
      }
      function average_cooling(items){
        return _.reduce(items, sum_cooling, 0) / items.length;
      }
      function groupsToResult_cooling(groups){
        return {month: groups[0].month,
                cooling: average_cooling(groups)
                }
      }

      // Transpose array
      function transposeArray(myData){
        return Object.fromEntries(Object.keys(myData[0]).map(key => [key, myData.map(o => o[key])]));
      }

      // Reformat data for Circular Plot
      function transformData(heating_data, cooling_data){
        // Add cooling data to heating data
        for (var i = 0; i < 12; i++){
          heating_data[i].cooling = cooling_data[i].cooling;
        }

        // Transpose new heating data
        heating_data = transposeArray(heating_data);
        
        var data = [];
        // row 1: heating data
        var result =  heating_data.heating.reduce(function(result, field, index) {
          result[months_letter[index]] = field;
          return result;
        }, {})
        data.push(result);
        // row 2: cooling data
        var result =  heating_data.cooling.reduce(function(result, field, index) {
          result[months_letter[index]] = field;
          return result;
        }, {})
        data.push(result);
        
        return data;
      }  

      // Datasets by city for monthly average heating & cooling energy use
      Balitmore_monthly_data = transformData(Balitmore_monthly_heating, Balitmore_monthly_cooling);
      Chicago_monthly_data = transformData(Chicago_monthly_heating, Chicago_monthly_cooling);
      LA_monthly_data = transformData(LA_monthly_heating, LA_monthly_cooling);

  });

</script>




{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
    <CircularPlot data = {Balitmore_monthly_data} max_val = {max_value} graph_name = "Baltimore"/>
    <CircularPlot data = {Chicago_monthly_data} max_val = {max_value} graph_name = "Chicago"/>
    <CircularPlot data = {LA_monthly_data} max_val = {max_value} graph_name = "Los Angeles"/>
{/if}

