<script>
  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import RightLeaves from "./_design_3_RightLeaves.svelte";
  import LeftLeaves from "./_design_3_LeftLeaves.svelte";
  import Stem from "./_design_3_Stem.svelte";

  // Load the data
  let data = null;
  let week_options = [48, 49, 50, 51, 52];

  let week_48_data = null;
  let week_49_data = null;
  let week_50_data = null;
  let week_51_data = null;
  let week_52_data = null;

  onMount(async () => {
    data = await json("/data/hourly_electricity_vs_gas_december.json");
   
    // Divide full datset by week
    week_48_data = data.filter(d => d.week === week_options[0]);
    week_49_data = data.filter(d => d.week === week_options[1]);
    week_50_data = data.filter(d => d.week === week_options[2]);
    week_51_data = data.filter(d => d.week === week_options[3]);
    week_52_data = data.filter(d => d.week === week_options[4]);

  });


</script>


{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <p>
    <br><br> <br><br><br><br> Week 51
    <LeftLeaves datapoints = {week_51_data}/> 
    <br><br><br><br><br><br> Week 49
    <LeftLeaves datapoints = {week_49_data}/> 
    <br><br><br><br><br><br>
  </p>
  <p>
    <Stem></Stem>
  </p>
  <p>
    <br><br><br><br>
    <RightLeaves datapoints = {week_52_data}/>Week 52
    <br><br><br><br>
    <RightLeaves datapoints = {week_50_data}/> Week 50
    <br><br><br><br>
    <RightLeaves datapoints = {week_48_data}/> Week 48
    <br><br><br><br>
  </p>

{/if}


<style>
 /*svg {
    border: 1px solid black;
    border-radius: 5px;
  }*/
</style>
