<!-- Visualization based on: https://d3-graph-gallery.com/graph/ridgeline_basic.html -->
<script>
  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // External libraries
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  // Import components
  import LinePlot from './_design_1_LinePlot.svelte';

  // Name variables
  let data = null;

  // Load data
  onMount(async () => {
    // Load full datatset
    data = await json("/data/hourly_heating_december.json");
  });


  // Selects city dataset & scaling for plot based on radio buttons
  //$: apply_update(city_selected, scale_selected)
  //function apply_update(city_selected, scale_selected){
  //  console.log('update')
</script>


{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <LinePlot data={data}/> 
  </div>
{/if}