<script>
    const rad_length = 5;

    function circum_eq(x) {
        return 2 * x * Math.PI;
    }

    const circum = circum_eq(rad_length).toFixed(2)
</script>

<div>
    <p>The circumference of a circle with radius {rad_length} m is {circum} m.</p>
</div>