<script>
	let count = 0;

    // function to track counter value
	function handleClick(event) {
		count += 1;
	}


    // function to reset counter
    function resetCLick(event) {
		count = 0;
	}
</script>


<!-- Increase Counter Button -->
<button class="btn btn-primary" on:click={handleClick}>
	Count: {count}
</button>

<!-- Reset Button -->
<button class="btn btn-outline-primary" on:click={resetCLick}>
	Rest
</button>