<script>
  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  export let datapoints = [];
  import { scaleLinear, scaleOrdinal } from 'd3-scale';
  import { _ } from "lodash";
  import Axis from "./Axis.svelte";

  const max_lifeExp = _.maxBy(datapoints, 'life_exp').life_exp;
  const max_income = _.maxBy(datapoints, 'income').income;
  const max_pop = _.maxBy(datapoints, 'population').population;
  const min_pop = _.minBy(datapoints, 'population').population;

  const scaleX = scaleLinear().domain([0, max_income]).range([0, innerWidth]);
  const scaleY = scaleLinear().domain([0, max_lifeExp]).range([innerHeight, 0]);
  const scaleR = scaleLinear().domain([min_pop, max_pop]).range([1, 15]);
  const scaleColor = scaleOrdinal().domain(_.map(datapoints, function(d){d.continent})).range(["steelblue","crimson", "yellowgreen", "silver(16)", "violet"])

</script>


<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left},{margin.top})">

    {#each datapoints as d}
      <circle cx={scaleX(+d.income)} 
              cy={scaleY(+d.life_exp)} 
              r={scaleR(+d.population)} 
              style={"fill:" + scaleColor(d.continent)}/>
    {/each}
    
    <Axis innerHeight={innerHeight} margin={margin} scale={scaleX} position="bottom" />
    <Axis innerHeight={innerHeight} margin={margin} scale={scaleY} position="left" />
    
    <text x={innerWidth/2 - 20}  y={innerHeight+40}>Income</text>
    <text transform={`translate(${-30},${innerHeight/1.4}) rotate(-90)`}>Life Expectancy</text>
    <text x={innerWidth/2-110}  y={-20}>Income vs Life Expectancy (Year: 1800)</text>

  </g>
</svg>

