<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];
	
  import { scaleLog } from 'd3-scale';
	const scaleX = scaleLog().domain([2,9]) .range([10, 770]);
	
	import Axis from "./Axis.svelte";
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as v}
		   <circle cx={scaleX(v)} cy={height/2} r=10px />
    {/each}
		
		<Axis  innerHeight={innerHeight-25}  {margin}  scale={scaleX}  position="bottom" />
		<text  x={innerWidth/2}  y={innerHeight+5}>currentcolor</text>
  </g>
</svg>
