<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];
	
	// Scales
	import { scaleLinear } from 'd3-scale';
	import { scaleOrdinal } from 'd3-scale';

	const scaleX = scaleLinear().domain([2,9]) .range([0+5, innerWidth-5]);
	const scaleY = scaleLinear().domain([1,3]) .range([innerHeight-10, 0+5]);
	const scaleCat = scaleOrdinal().domain(values.map(d => d.category)).range(["#1f77b4","#ff7f0e","#2ca02c"]);

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
  	
		{#each values as v}
		   <circle cx={scaleX(v.x)} 
							 cy={scaleY(v.y)} 
							 r=10px
							 style={`fill:${scaleCat(v.category)}`} 
			 />
		   <text class="valueLabel" x={scaleX(v.x)}  y={scaleY(v.y)-15}> {v.y} </text>
			 <line x1={scaleX(v.x)} y1={scaleY(v.y)+10} x2={scaleX(v.x)} y2={innerHeight} />

    {/each}
		
  </g>
</svg>

<style>
  .valueLabel {
    text-anchor: middle;
    font-size: x-small;
  }
	line {
        stroke: black;
        stroke-width: 1;
  }
</style>
