<script>
	// Dimensions
	const width = 600;
	const height = 300;
	const margin = { top: 10, right: 10, bottom: 30, left: 60 };
	const innerWidth = width - margin.left - margin.right;
	const innerHeight = height - margin.top - margin.bottom;
  
	// Array
	const data = [
	  { service: "Netflix", viewers: 2.9 },
	  { service: "Amazon Prime Video", viewers: 1.3 },
	  { service: "Disney+", viewers: 2.1 },
	  { service: "Hulu", viewers: 0.9 },
	  { service: "Apple TV", viewers: 1.1 },
	  { service: "Rakuten", viewers: 0.4 }
	];
	  
	  // Scales
	  import Axis from "./Axis.svelte";
	  import { scaleLinear } from 'd3-scale';
	  import { scaleBand } from 'd3-scale';
	  
	  const scaleX = scaleBand().domain(data.map(d => d.service)).range([0+5, innerWidth-5]).padding(0.2);
	  const scaleY = scaleLinear().domain([0,3]).range([innerHeight, 0+5]);
  
  </script>
  
  <!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
  <svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
	<g transform="translate({margin.left},{margin.top})">
	 	{#each data as d}
					   <rect x={scaleX(d.service)} 
									  y={scaleY(d.viewers)} 
									  width={scaleX.bandwidth()} 
									  height={innerHeight - scaleY(d.viewers)} />
		{/each}
		  
	  <Axis {innerHeight}  {margin}  scale={scaleX}  position="bottom" />
	  <text x={innerWidth/2 - 20}  y={innerHeight+30}>Service</text>
  
	  <Axis {innerHeight}  {margin}  scale={scaleY}  position="left" />
	  <text transform={`translate(${-25},${innerHeight/1.4}) rotate(-90)`}>Number of Viewers</text>
  
  
	</g>
  </svg>
  